.form__name{
    padding: 0 0 7px;
    width: 358px;
    margin: 0 0 32px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 550px) {
    .form__name{
        width: 238px;
    }
}