.popup__container{
    max-width: 430px;
    max-height: 330px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
}
@media screen and (max-width: 550px) {
    .popup__container{
        width: 282px;
        max-height: 322px;
        height: 100%;
    }
}