.user__image {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    grid-area: user-image;

}
@media screen and (min-width: 320px) and (max-width: 713px) {
    .user__image{
        justify-self: center;
    }
}