.popup__name{
    padding: 0 0 7px;
    width: 358px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 32px;
}

@media screen and (max-width: 550px) {
    .popup__name{
        width: 238px;
    }
}