.popup__submit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000;
    color: #FFF;
    width: 358px;
    border: none;
    margin: 0;
    padding: 0;
    height: 50px;
}