.form__info {
    padding: 0 0 9px;
    max-width: 358px;
    width: 100%;
    margin: 0 0 48px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (max-width: 550px) {
    .form__info{
        width: 238px;
        margin-bottom: 42px;
    }
}