.popup__close {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    position: relative;
    top: -333px;
    left: 233px;
}
.popup__close:hover{
    opacity: .8;
}
@media screen and (max-width: 550px) {
    .popup__close{
        left: 131px;
    }
}