.form__error {
    color: red;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    position: relative;
    top: -13px;
    visibility: hidden;
}